.chat-container{
    display: flex;
    justify-content: center;
}

.input-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.input-container input {
    width: calc(100% - 50px);
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.input-container button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #7B84DB;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages-container {
    padding: 20px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1000px;
}

.messages-container p{
    overflow-wrap: break-word;
}

.received-message {
    padding: 20px;
    background-color: #7B84DB;
    max-width: 80%;
    border-radius: 5px;
    display: inline-block;
    color: #F2F2F2;
}

.sended-message {
    padding: 20px;
    background-color: #F2F2F2;
    max-width: 80%;
    border-radius: 5px;
    display: inline-block;
    color: #444;
}

.sended-message-container{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.received-message-container{
    margin-bottom: 10px;
    display: flex;
}
